In [4]:
import pandas as pd

sentiment = pd.read_csv("../data/sentiment.csv")
trades = pd.read_csv("../data/trader_data.csv")

sentiment.head()

    timestamp  value classification        date
0  1517463000     30           Fear  2018-02-01
1  1517549400     15   Extreme Fear  2018-02-02
2  1517635800     40           Fear  2018-02-03
3  1517722200     24   Extreme Fear  2018-02-04
4  1517808600     11   Extreme Fear  2018-02-05

In [5]:
print("Sentiment Shape:", sentiment.shape)
print("Trades Shape:", trades.shape)

Sentiment Shape: (2644, 4)
Trades Shape: (211224, 16)

In [6]:
sentiment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2644 entries, 0 to 2643
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       2644 non-null   int64
 1   value           2644 non-null   int64
 2   classification  2644 non-null   object
 3   date            2644 non-null   object
dtypes: int64(2), object(2)
memory usage: 82.8+ KB

In [7]:
trades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211224 entries, 0 to 211223
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Account           211224 non-null  object
 1   Coin              211224 non-null  object
 2   Execution Price   211224 non-null  float64
 3   Size Tokens       211224 non-null  float64
 4   Size USD          211224 non-null  float64
 5   Side              211224 non-null  object
 6   Timestamp IST     211224 non-null  object
 7   Start Position    211224 non-null  float64
 8   Direction         211224 non-null  object
 9   Closed PnL        211224 non-null  float64
 10  Transaction Hash  211224 non-null  object
 11  Order ID          211224 non-null  int64
 12  Crossed           211224 non-null  bool
 13  Fee               211224 non-null  float64
 14  Trade ID          211224 non-null  float64
 15  Timestamp         211224 non-null  float64
dtypes: bool(1), float64(8), int64(1), object(6)
memory usage: 24.4+ MB

In [8]:
print("Sentiment Missing Values:")
print(sentiment.isnull().sum())

print("\nTrades Missing Values:")
print(trades.isnull().sum())

Sentiment Missing Values:
timestamp         0
value             0
classification    0
date              0
dtype: int64

Trades Missing Values:
Account             0
Coin                0
Execution Price     0
Size Tokens         0
Size USD            0
Side                0
Timestamp IST       0
Start Position      0
Direction           0
Closed PnL          0
Transaction Hash    0
Order ID            0
Crossed             0
Fee                 0
Trade ID            0
Timestamp           0
dtype: int64

In [9]:
print("Sentiment duplicates:", sentiment.duplicated().sum())
print("Trades duplicates:", trades.duplicated().sum())

Sentiment duplicates: 0
Trades duplicates: 0

In [10]:
trades = trades.drop_duplicates()

In [11]:
trades.head()

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12

In [12]:
sentiment['date'] = pd.to_datetime(sentiment['date'])

In [13]:
sentiment.dtypes

timestamp                  int64
value                      int64
classification            object
date              datetime64[ns]
dtype: object

In [14]:
Timestamp IST

SyntaxError: invalid syntax (1543645592.py, line 1)

In [15]:
trades['Timestamp IST'] = pd.to_datetime(trades['Timestamp IST'])

ValueError: time data "18-03-2025 12:50" doesn't match format "%m-%d-%Y %H:%M", at position 18. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [16]:
trades['Timestamp IST'] = pd.to_datetime(
    trades['Timestamp IST'],
    format='mixed'
)

In [17]:
trades['date'] = trades['Timestamp IST'].dt.date
trades['date'] = pd.to_datetime(trades['date'])

In [18]:
sentiment['date'] = pd.to_datetime(sentiment['date'])

In [19]:
merged = trades.merge(
    sentiment[['date', 'classification']],
    on='date',
    how='left'
)

In [20]:
merged.head()
merged['classification'].isnull().sum()

np.int64(43367)

In [21]:
merged.columns

Index(['Account', 'Coin', 'Execution Price', 'Size Tokens', 'Size USD', 'Side',
       'Timestamp IST', 'Start Position', 'Direction', 'Closed PnL',
       'Transaction Hash', 'Order ID', 'Crossed', 'Fee', 'Trade ID',
       'Timestamp', 'date', 'classification'],
      dtype='object')

In [22]:
daily_pnl = merged.groupby(['Account', 'date'])['Closed PnL'].sum().reset_index()
daily_pnl.rename(columns={'Closed PnL': 'daily_pnl'}, inplace=True)

daily_pnl.head()

                                      Account       date      daily_pnl
0  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-06-12 -175611.000056
1  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-11       0.000000
2  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-17       0.000000
3  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-18       0.000000
4  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-22  -21227.000000

In [23]:
daily_trades = merged.groupby(['Account', 'date']).size().reset_index(name='trades_per_day')

daily_trades.head()

                                      Account       date  trades_per_day
0  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-06-12              33
1  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-11             177
2  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-17              68
3  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-18              40
4  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-22              12

In [24]:
merged['is_win'] = merged['Closed PnL'] > 0

In [25]:
daily_winrate = merged.groupby(['Account', 'date'])['is_win'].mean().reset_index()
daily_winrate.rename(columns={'is_win': 'win_rate'}, inplace=True)

daily_winrate.head()

                                      Account       date  win_rate
0  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-06-12       0.0
1  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-11       0.0
2  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-17       0.0
3  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-18       0.0
4  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-22       0.0

In [26]:
daily_size = merged.groupby(['Account', 'date'])['Size USD'].mean().reset_index()
daily_size.rename(columns={'Size USD': 'avg_trade_size'}, inplace=True)

daily_size.head()

                                      Account       date  avg_trade_size
0  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-06-12    36736.362424
1  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-11     5089.718249
2  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-17     7976.664412
3  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-18    23734.500000
4  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-22    28186.666667

In [27]:
merged['is_long'] = merged['Side'].str.upper() == 'BUY'

In [28]:
daily_long_ratio = merged.groupby(['Account', 'date'])['is_long'].mean().reset_index()
daily_long_ratio.rename(columns={'is_long': 'long_ratio'}, inplace=True)

daily_long_ratio.head()

                                      Account       date  long_ratio
0  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-06-12         1.0
1  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-11         0.0
2  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-17         0.0
3  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-18         0.0
4  0x083384f897ee0f19899168e3b1bec365f52a9012 2024-11-22         1.0

In [29]:
daily_data = daily_pnl.merge(daily_trades, on=['Account', 'date'])
daily_data = daily_data.merge(daily_winrate, on=['Account', 'date'])
daily_data = daily_data.merge(daily_size, on=['Account', 'date'])
daily_data = daily_data.merge(daily_long_ratio, on=['Account', 'date'])

In [30]:
daily_data = daily_data.merge(
    merged[['Account', 'date', 'classification']].drop_duplicates(),
    on=['Account', 'date'],
    how='left'
)

In [31]:
daily_data.head()
daily_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2341 entries, 0 to 2340
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Account         2341 non-null   object
 1   date            2341 non-null   datetime64[ns]
 2   daily_pnl       2341 non-null   float64
 3   trades_per_day  2341 non-null   int64
 4   win_rate        2341 non-null   float64
 5   avg_trade_size  2341 non-null   float64
 6   long_ratio      2341 non-null   float64
 7   classification  1963 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 146.4+ KB

In [32]:
daily_data = daily_data.dropna(subset=['classification'])

In [33]:
daily_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1963 entries, 0 to 2315
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Account         1963 non-null   object
 1   date            1963 non-null   datetime64[ns]
 2   daily_pnl       1963 non-null   float64
 3   trades_per_day  1963 non-null   int64
 4   win_rate        1963 non-null   float64
 5   avg_trade_size  1963 non-null   float64
 6   long_ratio      1963 non-null   float64
 7   classification  1963 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 138.0+ KB

In [34]:
daily_data['classification'] = daily_data['classification'].replace({
    'Extreme Fear': 'Fear',
    'Extreme Greed': 'Greed'
})

In [35]:
daily_data['classification'].value_counts()

classification
Greed      1120
Fear        534
Neutral     309
Name: count, dtype: int64